<div class="container">
<h1>Question page</h1>
    <form action="answer" method="get" data-turbo="false">
    <div class="row">
      <div class="col-4 form-floating">
        <input type="text" class="form-control" id="floatingInput" name="question" placeholder="Ask your coach anything...">
        <label for="floatingInput">Ask your coach anything...</label>
      </div>
      <div class="col-4">
        <input class="btn btn-primary w-80" type="submit" value="Ask!">
      </div>
      </div>
    </form>
</div>
